<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>关于我们</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/images/home/banner.jpg" alt="关于我们">
      <div class="text">
        <div class="title wow fadeInUp">关于我们</div>
        <div class="desc wow fadeInUp" data-wow-delay="200ms">
          爱月宝母婴服务连锁机构打造专业的母婴服务平台，专注于针对80、90后的母婴服务，提供孕、产、康、养一站解决方案。
        </div>
      </div>
    </section>
    <section class="about-container max-center">
      <div class="left-text">
        <div class="title-module wow fadeInLeft">北京爱月宝</div>
        <div class="desc wow fadeInLeft">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur delectus quisquam velit totam,
            mollitia suscipit laboriosam. Voluptate doloribus, dolorum accusantium rerum doloremque molestiae nulla
            expedita obcaecati ab voluptatibus nam voluptas.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aspernatur tempora quibusdam totam rerum nam
            consectetur deserunt sunt laudantium? Reprehenderit recusandae vitae possimus commodi voluptas laudantium
            ipsa reiciendis doloremque totam?
          </p>
        </div>
      </div>
      <div class="right-img wow fadeInRight">
        <img src="/public/images/home/project01.jpg" alt="">
      </div>
    </section>
    <section class="address-container">
      <ul class="address-list max-center">
        <li class="address-item wow fadeInUp">
          <div class="map">
            <img src="/public/images/about/map.png" alt="">
          </div>
          <div class="info">
            <div class="name">北京爱月宝母婴服务中心——总店</div>
            <div class="address">
              <i class="icon fa fa-map-marker" aria-hidden="true"></i>
              <span>北京市房山区良乡西路东里甲1号楼底商</span>
            </div>
            <div class="tel">
              <i class="icon fa fa-phone" aria-hidden="true"></i>
              <span>010-8935-0690</span>
            </div>
          </div>
        </li>
   
      </ul>
    </section>
    <section class="honor-container max-center">
      <div class="title-module">企业荣誉</div>
      <ul class="honor-list">
        <li class="honor-item wow fadeInUp">
          <a href="/public/images/about/honor.png" target="_blank">
            <img src="/public/images/about/honor.png" alt="">
            <div class="title">北京家政服务协会</div>
          </a>
        </li>
        <li class="honor-item wow fadeInUp">
          <a href="/public/images/about/honor.png" target="_blank">
            <img src="/public/images/about/honor.png" alt="">
            <div class="title">北京家政服务协会</div>
          </a>
        </li>
        <li class="honor-item wow fadeInUp">
          <a href="/public/images/about/honor.png" target="_blank">
            <img src="/public/images/about/honor.png" alt="">
            <div class="title">北京家政服务协会</div>
          </a>
        </li>
        <li class="honor-item wow fadeInUp">
          <a href="/public/images/about/honor.png" target="_blank">
            <img src="/public/images/about/honor.png" alt="">
            <div class="title">北京家政服务协会</div>
          </a>
        </li>
        <li class="honor-item wow fadeInUp">
          <a href="/public/images/about/honor.png" target="_blank">
            <img src="/public/images/about/honor.png" alt="">
            <div class="title">北京家政服务协会</div>
          </a>
        </li>
        <li class="honor-item wow fadeInUp">
          <a href="/public/images/about/honor.png" target="_blank">
            <img src="/public/images/about/honor.png" alt="">
            <div class="title">北京家政服务协会</div>
          </a>
        </li>
        <li class="honor-item wow fadeInUp">
          <a href="/public/images/about/honor.png" target="_blank">
            <img src="/public/images/about/honor.png" alt="">
            <div class="title">北京家政服务协会</div>
          </a>
        </li>
        <li class="honor-item wow fadeInUp">
          <a href="/public/images/about/honor.png" target="_blank">
            <img src="/public/images/about/honor.png" alt="">
            <div class="title">北京家政服务协会</div>
          </a>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>