<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>关于我们</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/images/home/banner.jpg" alt="母婴常识">
      <div class="text">
        <div class="title wow fadeInUp">母婴常识</div>
        <div class="desc wow fadeInUp">
          爱月宝母婴服务连锁机构打造专业的母婴服务平台，专注于针对80、90后的母婴服务，提供孕、产、康、养一站解决方案。
        </div>
      </div>
    </section>
    <section class="about-container max-center">
      <div class="right-img wow fadeInLeft">
        <img src="/public/images/home/project01.jpg" alt="">
      </div>
      <div class="left-text">
        <div class="title-module wow fadeInRight">北京爱月宝成为全北京最大母婴公司</div>
        <div class="desc wow fadeInRight">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur delectus quisquam velit totam,
            mollitia suscipit laboriosam. Voluptate doloribus, dolorum accusantium rerum doloremque molestiae nulla
            expedita obcaecati ab voluptatibus nam voluptas.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aspernatur tempora quibusdam totam rerum nam
            consectetur deserunt sunt laudantium? Reprehenderit recusandae vitae possimus commodi voluptas laudantium
            ipsa reiciendis doloremque totam?
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eos maxime doloremque autem? Itaque
            eaque cum consequuntur dolore, laudantium rem minima tenetur fuga natus eum dolorem temporibus ducimus iure
            assumenda?
          </p>
        </div>
      </div>
    </section>
    <section class="news-container max-center">
      <ul class="category-list">
        <li class="category-item wow fadeInUp on">
          <i class="iconfont icon-pregnant"></i>
          <span>孕妇常识</span>
        </li>
        <li class="category-item wow fadeInUp">
          <i class="iconfont icon-ico_hushigongzuozhan_hulijilu"></i>
          <span>产康护理</span>
        </li>
        <li class="category-item wow fadeInUp">
          <i class="iconfont icon-kejipeixun"></i>
          <span>培训热点</span>
        </li>
      </ul>
      <ul class="news-list">
        <li class="news-item wow fadeInUp">
          <a href="news_view.html">
            <div class="img">
              <img src="/public/images/home/news.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">资讯Lorem ipsum dolor sit amet.</div>
              <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, culpa totam sint
                blanditiis, possimus minus praesentium suscipit provident, aut consectetur distinctio error labore
                minima voluptate illum dolor. Atque, quaerat. Odio.</div>
              <div class="time">2021.12.07</div>
            </div>
          </a>
        </li>
        <li class="news-item wow fadeInUp">
          <a href="news_view.html">
            <div class="img">
              <img src="/public/images/home/news.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">资讯Lorem ipsum dolor sit amet.</div>
              <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, culpa totam sint
                blanditiis, possimus minus praesentium suscipit provident, aut consectetur distinctio error labore
                minima voluptate illum dolor. Atque, quaerat. Odio.</div>
              <div class="time">2021.12.07</div>
            </div>
          </a>
        </li>
        <li class="news-item wow fadeInUp">
          <a href="news_view.html">
            <div class="img">
              <img src="/public/images/home/news.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">资讯Lorem ipsum dolor sit amet.</div>
              <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, culpa totam sint
                blanditiis, possimus minus praesentium suscipit provident, aut consectetur distinctio error labore
                minima voluptate illum dolor. Atque, quaerat. Odio.</div>
              <div class="time">2021.12.07</div>
            </div>
          </a>
        </li>
        <li class="news-item wow fadeInUp">
          <a href="news_view.html">
            <div class="img">
              <img src="/public/images/home/news.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">资讯Lorem ipsum dolor sit amet.</div>
              <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, culpa totam sint
                blanditiis, possimus minus praesentium suscipit provident, aut consectetur distinctio error labore
                minima voluptate illum dolor. Atque, quaerat. Odio.</div>
              <div class="time">2021.12.07</div>
            </div>
          </a>
        </li>
        <li class="news-item wow fadeInUp">
          <a href="news_view.html">
            <div class="img">
              <img src="/public/images/home/news.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">资讯Lorem ipsum dolor sit amet.</div>
              <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, culpa totam sint
                blanditiis, possimus minus praesentium suscipit provident, aut consectetur distinctio error labore
                minima voluptate illum dolor. Atque, quaerat. Odio.</div>
              <div class="time">2021.12.07</div>
            </div>
          </a>
        </li>
        <li class="news-item wow fadeInUp">
          <a href="news_view.html">
            <div class="img">
              <img src="/public/images/home/news.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">资讯Lorem ipsum dolor sit amet.</div>
              <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, culpa totam sint
                blanditiis, possimus minus praesentium suscipit provident, aut consectetur distinctio error labore
                minima voluptate illum dolor. Atque, quaerat. Odio.</div>
              <div class="time">2021.12.07</div>
            </div>
          </a>
        </li>
      </ul>
      <div class="pagination">
        <a href=""><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <a href="" class="page-num-current">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>