<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>爱月宝首页</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="swiper-container home-banner">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <a href="/">
            <img src="/public/images/home/banner.jpg" alt="">
          </a>
        </li>
        <li class="swiper-slide">
          <a href="/">
            <img src="/public/images/home/banner.jpg" alt="">
          </a>
        </li>
        <li class="swiper-slide">
          <a href="/">
            <img src="/public/images/home/banner.jpg" alt="">
          </a>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </section>
    <section class="project-container">
      <div class="project-box max-center">
        <div class="title-module">
          <div class="title wow fadeInUp">主营业务</div>
          <div class="en-title wow fadeInUp">Main business</div>
        </div>
        <ul class="project-nav-list">
          <li class="wow fadeInRight project-nav-item on">月嫂服务</li>
          <li data-wow-delay="100ms" class="wow fadeInRight project-nav-item">育婴服务</li>
          <li data-wow-delay="200ms" class="wow fadeInRight project-nav-item">产后康复</li>
          <li data-wow-delay="300ms" class="wow fadeInRight project-nav-item">专业培训</li>
        </ul>
        <ul class="project-list">
          <li class="project-item on">
            <div class="left-text">
              <div class="title wow fadeInUp">月嫂服务</div>
              <div class="subtitle wow fadeInUp">这里是月嫂服务的副标题</div>
              <div class="desc wow fadeInUp">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum molestiae ab minima mollitia numquam
                  voluptatem laboriosam sapiente vel itaque minus cumque a dolorum nihil veritatis, quae, libero quo
                  obcaecati ex?
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eveniet autem excepturi ipsum illum,
                  tempore consequuntur, praesentium iusto aperiam nemo veritatis veniam pariatur suscipit ducimus
                  itaque? Impedit similique in facere.
                </p>
              </div>
              <a href="/" class="more more-btn wow fadeInLeft">
                <span>了解更多</span>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
            <div class="right-img wow fadeInRight">
              <img src="/public/images/home/ysfw1.png" alt="">
            </div>
          </li>
          <li class="project-item">
            <div class="left-text">
              <div class="title">育婴服务</div>
              <div class="subtitle">这里是育婴服务的副标题</div>
              <div class="desc">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum molestiae ab minima mollitia numquam
                  voluptatem laboriosam sapiente vel itaque minus cumque a dolorum nihil veritatis, quae, libero quo
                  obcaecati ex?
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eveniet autem excepturi ipsum illum,
                  tempore consequuntur, praesentium iusto aperiam nemo veritatis veniam pariatur suscipit ducimus
                  itaque? Impedit similique in facere.
                </p>
              </div>
              <a href="/" class="more more-btn">
                <span>了解更多</span>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
            <div class="right-img">
              <img src="/public/images/home/project01.jpg" alt="">
            </div>
          </li>
          <li class="project-item">
            <div class="left-text">
              <div class="title">产后康复</div>
              <div class="subtitle">这里是产后康复的副标题</div>
              <div class="desc">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum molestiae ab minima mollitia numquam
                  voluptatem laboriosam sapiente vel itaque minus cumque a dolorum nihil veritatis, quae, libero quo
                  obcaecati ex?
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eveniet autem excepturi ipsum illum,
                  tempore consequuntur, praesentium iusto aperiam nemo veritatis veniam pariatur suscipit ducimus
                  itaque? Impedit similique in facere.
                </p>
              </div>
              <a href="/" class="more more-btn">
                <span>了解更多</span>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
            <div class="right-img">
              <img src="/public/images/home/chkf.png" alt="">
            </div>
          </li>
          <li class="project-item">
            <div class="left-text">
              <div class="title">专业培训</div>
              <div class="subtitle">这里是专业培训的副标题</div>
              <div class="desc">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum molestiae ab minima mollitia numquam
                  voluptatem laboriosam sapiente vel itaque minus cumque a dolorum nihil veritatis, quae, libero quo
                  obcaecati ex?
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eveniet autem excepturi ipsum illum,
                  tempore consequuntur, praesentium iusto aperiam nemo veritatis veniam pariatur suscipit ducimus
                  itaque? Impedit similique in facere.
                </p>
              </div>
              <a href="/" class="more more-btn">
                <span>了解更多</span>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
            <div class="right-img">
              <img src="/public/images/home/project01.jpg" alt="">
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="people-container">
      <div class="title-module">
        <div class="title wow fadeInUp">优秀月嫂</div>
        <div class="en-title wow fadeInUp">Excellent confinement lady</div>
      </div>
      <div class="people-swiper swiper-container min-center">
        <ul class="swiper-wrapper people-list">
          <li class="swiper-slide people-item">
            <a href="people_view.html">
              <div class="img">
                <img src="/public/images/home/people01.jpg" alt="">
              </div>
              <div class="text">
                <div class="fullname">月嫂姓名1</div>
                <div class="info">47岁 | 5年工作经验 | 带过43个宝宝</div>
                <div class="tags">
                  <a href="" class="tag">月子餐</a>
                  <a href="" class="tag">月子餐</a>
                  <a href="" class="tag">月子餐</a>
                </div>
              </div>
            </a>
          </li>
          <li class="swiper-slide people-item">
            <a href="people_view.html">
              <div class="img">
                <img src="/public/images/home/people01.jpg" alt="">
              </div>
              <div class="text">
                <div class="fullname">月嫂姓名2</div>
                <div class="info">47岁 | 5年工作经验 | 带过43个宝宝</div>
                <div class="tags">
                  <a href="" class="tag">月子餐</a>
                  <a href="" class="tag">月子餐</a>
                  <a href="" class="tag">月子餐</a>
                </div>
              </div>
            </a>
          </li>
          <li class="swiper-slide people-item">
            <a href="people_view.html">
              <div class="img">
                <img src="/public/images/home/people01.jpg" alt="">
              </div>
              <div class="text">
                <div class="fullname">月嫂姓名3</div>
                <div class="info">47岁 | 5年工作经验 | 带过43个宝宝</div>
                <div class="tags">
                  <a href="" class="tag">月子餐</a>
                  <a href="" class="tag">月子餐</a>
                  <a href="" class="tag">月子餐</a>
                </div>
              </div>
            </a>
          </li>
          <li class="swiper-slide people-item">
            <a href="people_view.html">
              <div class="img">
                <img src="/public/images/home/people01.jpg" alt="">
              </div>
              <div class="text">
                <div class="fullname">月嫂姓名4</div>
                <div class="info">47岁 | 5年工作经验 | 带过43个宝宝</div>
                <div class="tags">
                  <a href="" class="tag">月子餐</a>
                  <a href="" class="tag">月子餐</a>
                  <a href="" class="tag">月子餐</a>
                </div>
              </div>
            </a>
          </li>
          <li class="swiper-slide people-item">
            <a href="people_view.html">
              <div class="img">
                <img src="/public/images/home/people01.jpg" alt="">
              </div>
              <div class="text">
                <div class="fullname">月嫂姓名5</div>
                <div class="info">47岁 | 5年工作经验 | 带过43个宝宝</div>
                <div class="tags">
                  <a href="" class="tag">月子餐</a>
                  <a href="" class="tag">月子餐</a>
                  <a href="" class="tag">月子餐</a>
                </div>
              </div>
            </a>
          </li>
          <li class="swiper-slide people-item">
            <a href="people_view.html">
              <div class="img">
                <img src="/public/images/home/people01.jpg" alt="">
              </div>
              <div class="text">
                <div class="fullname">月嫂姓名6</div>
                <div class="info">47岁 | 5年工作经验 | 带过43个宝宝</div>
                <div class="tags">
                  <a href="" class="tag">月子餐</a>
                  <a href="" class="tag">月子餐</a>
                  <a href="" class="tag">月子餐</a>
                </div>
              </div>
            </a>
          </li>

        </ul>

        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </section>
    <section class="massage-container" style="background-image:url(/public/images/home/form-bg.jpg)">
      <div class="message-box min-center wow fadeInUp">
        <form action="">
          <label class="label" for="">
            <span>姓名</span>
            <input type="text" placeholder="请输入您的姓名...">
          </label>
          <label class="label" for="">
            <span>联系方式</span>
            <input type="text" placeholder="请输入您的手机号码...">
          </label>
          <div class="label project">
            <span>服务项目</span>
            <div class="select">
              <label for="confinement">
                <input type="radio" name="server" id="confinement">月嫂服务
              </label>
              <label for="babysitting">
                <input type="radio" name="server" id="babysitting">育婴服务
              </label>
              <label for="postpartum">
                <input type="radio" name="server" id="postpartum">产后康复
              </label>
              <label for="training">
                <input type="radio" name="server" id="training">专业培训
              </label>
            </div>
          </div>
          <button type="submit">提交</button>
        </form>
      </div>
    </section>
    <section class="news-container">
      <div class="news-box min-center">
        <ul class="category-list">
          <li class="wow fadeInLeft category-item on">
            <i class="iconfont icon-pregnant"></i>
            <span>孕妇常识</span>
          </li>
          <li class="wow fadeInLeft category-item">
            <i class="iconfont icon-ico_hushigongzuozhan_hulijilu"></i>
            <span>产康护理</span>
          </li>
          <li class="wow fadeInLeft category-item">
            <i class="iconfont icon-kejipeixun"></i>
            <span>培训热点</span>
          </li>
        </ul>
        <ul class="news-box-list">
          <li class="news-box-item on">
            <div class="left-news">
              <div class="catefory-title">
                <span>孕妇常识</span>
                <a href="/" class="more more-btn">
                  <span>了解更多</span>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
              <ul class="news-list">
                <li class="news-item wow fadeInUp">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item wow fadeInUp">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item wow fadeInUp">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item wow fadeInUp">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item wow fadeInUp">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item wow fadeInUp">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item wow fadeInUp">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item wow fadeInUp">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="right-img">
              <ul class="news-thumb-list">
                <li class="news-thumb-item wow fadeInUp">
                  <a href="">
                    <div class="img">
                      <img src="/public/images/home/news.jpg" alt="">
                    </div>
                    <div class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</div>
                  </a>
                </li>
                <li class="news-thumb-item wow fadeInUp">
                  <a href="">
                    <div class="img">
                      <img src="/public/images/home/news.jpg" alt="">
                    </div>
                    <div class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="news-box-item">
            <div class="left-news">
              <div class="catefory-title">
                <span>产康护理</span>
                <a href="/" class="more more-btn">
                  <span>了解更多</span>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
              <ul class="news-list">
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="right-img">
              <ul class="news-thumb-list">
                <li class="news-thumb-item">
                  <a href="">
                    <div class="img">
                      <img src="/public/images/home/news.jpg" alt="">
                    </div>
                    <div class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</div>
                  </a>
                </li>
                <li class="news-thumb-item">
                  <a href="">
                    <div class="img">
                      <img src="/public/images/home/news.jpg" alt="">
                    </div>
                    <div class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="news-box-item">
            <div class="left-news">
              <div class="catefory-title">
                <span>培训热点</span>
                <a href="/" class="more more-btn">
                  <span>了解更多</span>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
              <ul class="news-list">
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
                <li class="news-item">
                  <a href="">
                    <span class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</span>
                    <span class="date">2022-03-18</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="right-img">
              <ul class="news-thumb-list">
                <li class="news-thumb-item">
                  <a href="">
                    <div class="img">
                      <img src="/public/images/home/news.jpg" alt="">
                    </div>
                    <div class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</div>
                  </a>
                </li>
                <li class="news-thumb-item">
                  <a href="">
                    <div class="img">
                      <img src="/public/images/home/news.jpg" alt="">
                    </div>
                    <div class="title">北京爱月宝成为北京第一北京爱月宝成为北京第一北京爱月宝成为北京第一</div>
                  </a>
                </li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>