.banner-container {
  height: 350px;
  .text {
    width: 100%;
    padding: 0 20px;
    left: 0;
    box-sizing: border-box;
    .title {
      font-size: 32px;
      margin-bottom: 10px;
    }
    .desc {
      width: 100%;
      line-height: 1.8;
      font-size: 14px;
    }
  }
}
.main-content {
  .main-wrapper {
    flex-wrap: wrap;
    .left-layout {
      width: 100%;
    }
    .right-layout {
      width: 100%;
      .info-list {
        .info-item {
          display: flex;
          font-size: 14px;
          padding-bottom: 5px;
          margin-bottom: 5px;
          .key {
            width: 100px;
          }
          .val {
            width: calc(100% - 100px);
          }
        }
      }
      p {
        line-height: 1.8;
      }
    }
  }
  .content {
    margin-top: 30px;
    border: 1px solid #eee;
    border-bottom: none;
    .title {
      height: 48px;
      line-height: 48px;
      padding: 0 20px;
      border-bottom: 1px solid #eee;
      background-color: @mainColor;
      color: #fff;
    }
    .cont {
      min-height: 300px;
      padding: 15px;
      box-sizing: border-box;
    }
  }
  .page-btn {
    flex-wrap: wrap;
    a {
      width: 100%;
      height: auto;
      padding: 15px;
      font-size: 14px;
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
