<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>北京爱月宝母婴服务中心成功开设100家门店</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/images/home/banner.jpg" alt="月嫂页面">
      <div class="text">
        <div class="title wow fadeInUp">月嫂页面</div>
        <div class="desc wow fadeInUp">
          爱月宝母婴服务连锁机构打造专业的母婴服务平台，专注于针对80、90后的母婴服务，提供孕、产、康、养一站解决方案。
        </div>
      </div>
    </section>
    <main class="main-content max-center">
      <div class="main-wrapper">
        <div class="left-layout">
          <img src="/public/images/people.png" alt="">
        </div>
        <div class="right-layout">
          <ul class="info-list">
            <li class="info-item">
              <div class="key">【姓名】：</div>
              <div class="val">杨晓丽</div>
            </li>
            <li class="info-item">
              <div class="key">【年龄】：</div>
              <div class="val">48岁</div>
            </li>
            <li class="info-item">
              <div class="key">【居住地】：</div>
              <div class="val">天津武清</div>
            </li>
            <li class="info-item">
              <div class="key">【学历】：</div>
              <div class="val">高中</div>
            </li>
            <li class="info-item">
              <div class="key">【从业年限】：</div>
              <div class="val">9年多60来个宝宝</div>
            </li>
            <li class="info-item">
              <div class="key">【持有证书】：</div>
              <div class="val">高级母婴护理师证，高级催乳师证，高级营养师证，产后修复证，小儿推拿。</div>
            </li>
            <li class="info-item">
              <div class="key">【特长】：</div>
              <div class="val">普通话标准，性格温柔；善良，做事认真，爱心细心，责任心</div>
            </li>
            <li class="info-item">
              <div class="key">【擅长】：</div>
              <div class="val">
                宝宝脐部护理、消毒、洗澡抚触，观察黄疸，红臀、胀气、湿疹等经验丰富。产妇产后伤口护理、消毒、恶露观察、大乳头、凹陷乳头、催乳、通乳均有经验，让宝宝有足够的奶水吃。催乳汤、月子餐的营养搭配，产妇各个阶段饮食搭配，营养均衡，各种花样加餐。
              </div>
            </li>
            <li class="info-item">
              <div class="key">【工作理念】：</div>
              <div class="val">让每一位客户放心，让每个孩子在我的护理下健康快乐成长。</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="title">详细介绍</div>
        <div class="cont">
          姓名：杨晓丽
          年龄：48岁
          居住地:天津武清
          学历：高中
          从业年限：9年多60来个宝宝
          持有证书：高级母婴护理师证，高级催乳师证，高级营养师证，产后修复证，小儿推拿。
          特长：普通话标准，性格温柔；善良，做事认真，爱心细心，责任心
          擅长：宝宝脐部护理、消毒、洗澡抚触，观察黄疸，红臀、胀气、湿疹等经验丰富。产妇产后伤口护理、消毒、恶露观察、大乳头、凹陷乳头、催乳、通乳均有经验，让宝宝有足够的奶水吃。催乳汤、月子餐的营养搭配，产妇各个阶段饮食搭配，营养均衡，各种花样加餐。
          工作理念：让每一位客户放心，让每个孩子在我的护理下健康快乐成长。
        </div>
      </div>
      <div class="page-btn">
        <a href="" class="prev wow fadeInLeft">
          上一篇：北京爱月宝母婴服务中心成功开设100家门店
          <!-- 没有内容的话，展示 暂无 -->
        </a>
        <a href="" class="next wow fadeInRight">
          下一篇：北京爱月宝母婴服务中心成功开设100家门店
          <!-- 没有内容的话，展示 暂无 -->
        </a>
      </div>
    </main>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>